/* Einbindung von Schriftarten */
/* Jost 200  */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/jost-v15-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Jost 300  */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/jost-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Jost Regular  */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/jost-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Jost 700 */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/jost-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Grundlegendes Styling */
body {
    background-color: #F4F5F5;
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

/* Format von Inhalt und Bildern */
.content {
    margin: 30px auto;
    width: 900px;
}

.images {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 180px;
}

/* Überschriften */
h1.center, h1.left, h2.left {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}

h1.center {
    text-align: center;
    font-size: 2.5em;
}

h1.left, h2.left {
    text-align: left;
}

h2.left {
    font-size: 1.75em;
}

/* Textstile */
p.pcenter, p.pnormal {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

p.pcenter {
    text-align: center;
}

/* Links */
a.center, a.logout, a.text, a.listitems {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
}

a.center {
    display: block;
    text-align: center;
    color: blue;
}

a.logout, a.text {
    color: blue;
}

a.logout:hover, a.text:hover, a.listitems:hover, a.center:hover {
    text-decoration: underline;
}

a.logout:hover {
    color: rgb(255, 0, 0);
}

a.listitems {
    color: black;
}

/* Spezielle Links */
a.special {
    color: red; /* Immer rot */
    font-weight: bold;
    text-decoration: none;
}

a.special:hover {
    color: darkred; /* Dunkelrot bei Hover */
    text-decoration: underline;
}

/* Formulare und Eingabeelemente */
div.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

fieldset {
    border: 1px dotted lightgray;
    background-color: white;
}

.formcontent {
    margin: 8px 0 8px 25%;
}

label {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-align: right;
    margin: 5px 0;
    min-width: 150px;
    display: inline-block;
}

input {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 5px 10px 5px 0;
    border: 2px solid lightgray;
    width: 170px;
}

/* Buttons */
.greybutton, .acceptbutton, .rejectbutton, .bluebutton {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 10px 2px 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.greybuttonroundaction {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 2px 2px 5px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    cursor: pointer;
}

.greybutton, .acceptbutton, .rejectbutton, .greybuttonroundaction {
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
}



.bluebutton {
    background-color: #007BFF;
    border: 2px solid #007BFF;
}

.acceptbutton:hover {
    background-color: green;
}

.rejectbutton:hover {
    background-color: red;
}

.centerbuttons {
    display: flex;
    justify-content: center;
}

/* Freundeliste und andere Listen */
.friendlist {
    width: 900px;
}

.friendlist {
    background-color: white;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.friendlist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.friendlist li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-left: 12px;
    padding-right: 12px;
}

li {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 15px 0;
}

/* Zählerbereich */
.requestnumber {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 15px 25px 15px 0;
    height: 21px;
}

p.pnumber {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
    background: #007BFF;
    padding: 2px 5px;
    color: white;
    border: 1px solid lightgrey;
    margin: 0px;
}

/*fetter Text*/

.bold {
    font-weight: 700;
}

/* Aktionsleiste */
.actionbar {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: 2px solid lightgray;
    border-radius: 2px;
    width: 650px;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Horizontale Linie */
hr {
    border: 1px dashed lightgray;
    margin: 10px 0 15px;
}

/* Responsive Design */
@media only screen and (max-width: 1024px) {
    body, .friends, .friendlist, .actionbar, hr, .content, .form, .formcontent, fieldset {
        width: 95%;
        display: block;
    }
}

/* Buttons für die Register- und Login-Ansicht */
.extrabuttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.greyroundbutton,
.blueroundbutton {
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
}

.greyroundbutton {
    border-color: grey;
    background-color: grey;
    color: white;
}

.greyroundbutton:hover,.greybuttonroundaction:hover {
    background-color: darkgrey;
}

.blueroundbutton {
    border-color: #007BFF;
    background-color: #007BFF;
    color: white;
}

.blueroundbutton:hover {
    background-color: #0757ad;
}

/* Gleichbleibende Farbe bei Button */
.buttontext {
    color: inherit;
    text-decoration: none;
}



   
    

    

